<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Archive
    body
        header
            .container.header_inner.sub_pages_header
                ul(ng-controller = "navCtrl")
                    li
                        input(type="text")
                    li
                        a(href="#/student/notifications" ng-click="readStudentNotification()").notification Notifications
                            span(ng-show="unRead").notification_counter {{unRead}}
                    li
                        a(href="#/student/archive") Archive
                    li
                        a(href="#/student") Classes
                    li
                        a(href="" ng-click="logOut()") Log-out
        .container
            .student_class
                table
                    thead
                        tr
                            th Teacher
                            th Class
                            th Prelim
                            th Midterm
                            th Final
                            th Average
                            th Status
                    tbody
                        tr
                            td Robert JAangap
                            td Algebra 3-aaaaaaaaaaaaa
                            td 90%
                            td 90%
                            td 90%
                            td 90%
                            td 
                                .btn.btn_green Activate
                        tr
                            td Robert JAangap
                            td Algebra 3-a
                            td 90%
                            td 90%
                            td 90%
                            td 90%
                            td 
                                .btn.btn_green Activate
                        tr
                            td Robert JAangap
                            td Algebra 3-a
                            td 90%
                            td 90%
                            td 90%
                            td 90%
                            td 
                                .btn.btn_green Activate