<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Grade Viewing System
	body
		header
			.container.header_inner
				.logo
					| Grade Viewing System
				.logInForm
					.logInForm_input
						label Username
						input(type="text")
					.logInForm_input
						label Password
						input(type="password")
					.logInForm_btn Log in
		.container.content
			.seven.columns
				img(src="img/grade_report.png", alt="")
			.five.columns
				.signInForm
					h3 Sign up
					.signInForm_group
						label Full Name
						input(type="text")
					.signInForm_group
						label Email
						input(type="email")
					.signInForm_group
						label Username
						input(type="text")
					.signInForm_group
						label Password
						input(type="password")
					.signInForm_btn Create Account
		footer
			.container
				.copyright copyright © 2016 Grade Viewing System
