<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Notifications
    body
        header
            .container.header_inner.sub_pages_header
                ul(ng-controller = "navCtrl")
                    li
                        a(href="#/teacher/") Classes
                    li
                        a(href="#/teacher/notifications").notification Notifications
                            span.notification_counter 32
                    li
                        toggle-modal 
                            a(href="") Create Class
                    li
                        a(href="" ng-click="logOut()") Log-out
        .overlay
            .create_class
                toggle-modal.close_btn X
                .row
                    label(for="") Class Name
                    input(type="text" placeholder = "Ex. algebra 2-a")
                .row.criteria
                    label(for="").criteria_title Criteria
                    .row
                        label(for="") Prelim
                        input(type="number" max=50 min=20)
                    .row
                        label(for="") Midterm
                        input(type="number" max=50 min=20)
                    .row
                        label(for="") Final
                        input(type="number" max=50 min=20)
                .btn.btn_full.btn_blue Create Class
        .confirmation
            .confirmation_inner.u-cf
                p  {{confirmation_msg}}
                confirmation.btn.btn_blue.pull_right OK
        .container
            .notifications.row(ng-repeat="notification in notifications | orderBy:'-timeSend'")
                .notifications_info.eight.columns
                    h4.notifications_student {{notification.userName}} - {{notification.userId}}
                        a
                            confirmation.btn_block(ng-click="blockUser(notification)") block user
                        a
                            confirmation.btn_block.btn_block_2(ng-click="unBlockUser(notification)") Unblock user
                    p.notifications_msg  {{notification.message}}
                    span.notifications_date {{notification.dateSend}} at {{notification.timeSend}}
                .notifications_btn.four.columns
                    .btn.btn_large.btn_green(ng-click="confirmRequest(notification)") Confirm
                    .btn.btn_large.btn_red(ng-click="deleteRequest(notification)") Delete