<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Notifications
    body
        header
            .container.header_inner.sub_pages_header
                ul
                    li
                        a(href="").notification Notifications
                            span.notification_counter 32
                    li
                        a(href="") Create Class
                    li
                        a(href="") Classes
                    li
                        a(href="") Log-out
        .container
            .teacher_notifications.row
                .teacher_notifications_info.eight.columns
                    h4.teacher_notifications_student Robert Janagap - 123-2312-321
                    p.teacher_notifications_msg  Hello my name is Robert Janagap and I would like to join in your class - <strong>Algebra ( 13213123 )</strong>
                    span.teacher_notifications_date 9:30 a.m, monday - 12/32/20
                .teacher_notifications_btn.four.columns
                    .btn.btn_large.btn_green Confirm
                    .btn.btn_large.btn_red Delete
            .teacher_notifications.row
                .teacher_notifications_info.eight.columns
                    h4.teacher_notifications_student Robert Janagap - 123-2312-321
                    p.teacher_notifications_msg  Hello my name is Robert Janagap and I would like to join in your class - <strong>Algebra ( 13213123 )</strong>
                    span.teacher_notifications_date 9:30 a.m, monday - 12/32/20
                .teacher_notifications_btn.four.columns
                    .btn.btn_large.btn_green Confirm
                    .btn.btn_large.btn_red Delete
            .teacher_notifications.row
                .teacher_notifications_info.eight.columns
                    h4.teacher_notifications_student Robert Janagap - 123-2312-321
                    p.teacher_notifications_msg  Hello my name is Robert Janagap and I would like to join in your class - <strong>Algebra ( 13213123 )</strong>
                    span.teacher_notifications_date 9:30 a.m, monday - 12/32/20
                .teacher_notifications_btn.four.columns
                    .btn.btn_large.btn_green Confirm
                    .btn.btn_large.btn_red Delete

