<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Student Notifications
    body
        header
            .container.header_inner.sub_pages_header
                ul(ng-controller = "navCtrl")
                    li.findClass
                        input(type="text" ng-model="class_code")
                        span(ng-click="findClass(class_code)").btn_find Join Class
                    li
                        a(href="#/student/notifications" ng-click="readStudentNotification()").notification Notifications
                            span(ng-show="unRead").notification_counter {{unRead}}
                    li
                        a(href="#/student/archive") Archive
                    li
                        a(href="#/student") Classes
                    li
                        a(href="" ng-click="logOut()") Log-out
        .container
            p(ng-show="findSuccess" ng-click="deleteMsg()" id="findClass_success").findClass_success {{success_msg}}
            .notifications.row(ng-repeat="notification in notifications | orderBy:'-timeSend'")
                .notifications_info.eight.columns
                    h4.notifications_student {{notification.userName}} - {{notification.userId}}
                        a
                            confirmation.btn_block(ng-click="blockUser(notification)") block user
                        a
                            confirmation.btn_block.btn_block_2(ng-click="unBlockUser(notification)") Unblock user
                    p.notifications_msg  {{notification.message}}
                    span.notifications_date {{notification.dateSend}} at {{notification.timeSend}}
