<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Student Notifications
    body
        header
            .container.header_inner.sub_pages_header
                ul
                    li
                        input(type="text")
                    li
                        a(href="").notification Notifications
                            span.notification_counter 32
                    li
                        a(href="") Archive
                    li
                        a(href="") Classes
                    li
                        a(href="") Log-out
        .container
            .notifications.row
                .notifications_info.eight.columns
                    h4.notifications_student Robert Janagap - 123-2312-321
                    p.notifications_msg  Hello my name is Robert Janagap and I would like to join in your class - <strong>Algebra ( 13213123 )</strong>
                    span.notifications_date 9:30 a.m, monday - 12/32/20
                .notifications_btn.four.columns
                    .btn.btn_large.btn_green Confirm
                    .btn.btn_large.btn_red Delete
            .notifications.row
                .notifications_info.eight.columns
                    h4.notifications_student Robert Janagap - 123-2312-321
                    p.notifications_msg  Hello my name is Robert Janagap and I would like to join in your class - <strong>Algebra ( 13213123 )</strong>
                    span.notifications_date 9:30 a.m, monday - 12/32/20
                .notifications_btn.four.columns
                    .btn.btn_large.btn_green Confirm
                    .btn.btn_large.btn_red Delete
            .notifications.row
                .notifications_info.eight.columns
                    h4.notifications_student Robert Janagap - 123-2312-321
                    p.notifications_msg  Hello my name is Robert Janagap and I would like to join in your class - <strong>Algebra ( 13213123 )</strong>
                    span.notifications_date 9:30 a.m, monday - 12/32/20
                .notifications_btn.four.columns
                    .btn.btn_large.btn_green Confirm
                    .btn.btn_large.btn_red Delete
            .notifications.row
                .notifications_info.eight.columns
                    h4.notifications_student Robert Janagap - 123-2312-321
                    p.notifications_msg  This is a message for you master
                    span.notifications_date 9:30 a.m, monday - 12/32/20
