<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Student
    body
        header
            .container.header_inner.sub_pages_header
                ul(ng-controller = "navCtrl")
                    li.findClass
                        input(type="text" ng-model="class_code")
                        span(ng-click="findClass(class_code)").btn_find Join Class
                    li
                        a(href="#/student/notifications").notification Notifications
                            span.notification_counter 32
                    li
                        a(href="#/student/archive") Archive
                    li
                        a(href="#/student") Classes
                    li
                        a(href="" ng-click="logOut()") Log-out
        .container
            p(ng-show="findSuccess" ng-click="deleteMsg()" id="findClass_success").findClass_success {{success_msg}}
            .student_class
                table
                    thead
                        tr
                            th Teacher
                            th Class
                            th Prelim
                            th Midterm
                            th Final
                            th Average
                    tbody
                        tr
                            td.student_class_teacher Robert JAangap
                                .student_class_btns
                                    a(href="").student_class_btn.student_class_btn_util Message
                                    a(href="").student_class_btn2.student_class_btn_util archive
                            td Algebra 3-aaaaaaaaaaaaa
                            td 90%
                            td 90%
                            td 90%
                            td 90%
                        tr
                            td.student_class_teacher Robert JAangap
                                .student_class_btns
                                    a(href="").student_class_btn.student_class_btn_util Message
                                    a(href="").student_class_btn2.student_class_btn_util archive
                            td Algebra 3-a
                            td 90%
                            td 90%
                            td 90%
                            td 90%
                        tr
                            td.student_class_teacher Robert JAangap
                                .student_class_btns
                                    a(href="").student_class_btn.student_class_btn_util Message
                                    a(href="").student_class_btn2.student_class_btn_util archive
                            td Algebra 3-a
                            td 90%
                            td 90%
                            td 90%
                            td 90%