<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Algebra
    body
        header
            .container.header_inner.sub_pages_header
                ul
                    li
                        a(href="").notification Notifications
                            span.notification_counter 32
                    li
                        a(href="") Create Class
                    li
                        a(href="") Classes
                    li
                        a(href="") Log-out
        .container
            .teacher_class
                h3.teacher_class_title Science ( Class Code )
                table
                    thead
                        tr.no-border
                            th Students
                            th Prelim
                                span  ( 30% )
                            th Midterm
                                span  ( 30% )
                            th Final
                                span  ( 30% )
                            th Average
                    tbody
                        tr
                            td 1. Juan De la Cruz Santillan Magbanua
                            td 
                                input(type="text" value=0)
                            td 
                                input(type="text" value=10)
                            td 
                                input(type="text" value=10)
                            td 
                                span 90%
                        tr
                            td 2. Juan De la Cruz
                            td 
                                input(type="text" value=0)
                            td 
                                input(type="text" value=10)
                            td 
                                input(type="text" value=10)
                            td 
                                span 90%