<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Teacher
    body
        header
            .container.header_inner.sub_pages_header
                ul(ng-controller = "navCtrl")
                    li
                        a(href="#/teacher") Classes
                    li
                        a(href="#/teacher/notifications").notification Notifications
                            span.notification_counter 32
                    li
                        toggle-modal 
                            a(href="") Create Class
                    li
                        a(href="" ng-click="logOut()") Log-out
        .overlay(id="saveClassBtn")
            .create_class
                toggle-modal.close_btn X
                p.errMsg(ng-show="errClass") {{errClass}}
                .row
                    label(for="") Class Name
                    input(type="text" placeholder = "Ex. algebra 2-a" ng-model="criteria.className")
                .row.criteria
                    label(for="").criteria_title Criteria
                    .row
                        label(for="") Prelim
                        limit-input
                            input(type="number" max=60 min=10 class="num" ng-model="criteria.cPrelim" ng-change = "computeCriteria(criteria)")
                    .row
                        label(for="") Midterm
                        limit-input
                            input(type="number" max=60 min=10 class="num" ng-model="criteria.cMidterm" ng-change = "computeCriteria(criteria)")
                    .row
                        label(for="") Final
                        limit-input
                            input(type="number" max=60 min=10 class="num" ng-model="criteria.cFinal" ng-change = "computeCriteria(criteria)")
                    .row
                        label(for="") Total Percent
                        input(type="number" disabled ng-value="totalPercent" id="totalCriteria")
                .btn.btn_full.btn_blue(ng-click="saveCriteria(criteria,criteria.className)") Create Class
        .container
            .classList.u-cf
                ul.u-cf
                    a(href="#/teacher/class" ng-repeat = "classes in classList")
                        li.mfour.class
                            .class_info
                                .class_util.u-cf
                                    .class_code.text_blur {{classes.classId}}
                                    .class_dateCreated.text_blur {{classes.dateCreated}}
                                h4.class_title {{classes.className}} 
                                .class_topStudents
                                    h5 Top 5 Students
                                    ol
                                        span.list_title Student Name
                                            span Gen.Ave.
                                        li Angelo 
                                            span 90%
                                        li Miguel
                                            span 90%
                                        li Juan
                                            span 90%
                                        li Pedro
                                            span 90%
                                        li Santino
                                            span 90%