<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Teacher
    body
        header
            .container.header_inner.sub_pages_header
                ul
                    li
                        a(href="").notification Notifications
                            span.notification_counter 32
                    li
                        a(href="") Create Class
                    li
                        a(href="") Classes
                    li
                        a(href="") Log-out
        //.overlay
            .create_class
                .close_btn X
                .row
                    label(for="") Class Name
                    input(type="text" placeholder = "Ex. algebra 2-a")
                .row.criteria
                    label(for="").criteria_title Criteria
                    .row
                        label(for="") Prelim
                        input(type="number" max=50 min=20)
                    .row
                        label(for="") Midterm
                        input(type="number" max=50 min=20)
                    .row
                        label(for="") Final
                        input(type="number" max=50 min=20)
                .btn.btn_full.btn_blue Create Class
        .container
            .classList.u-cf
                ul.u-cf
                    li.mfour.class
                        .class_info
                            .class_util.u-cf
                                .class_code ( class code )
                                .class_dateCreated 12/23/16
                            h4.class_title Algebra 
                            .class_topStudents
                                h5 Top 5 Students
                                ol
                                    span.list_title Student Name
                                        span Gen.Ave.
                                    li Angelo 
                                        span 90%
                                    li Miguel
                                        span 90%
                                    li Juan
                                        span 90%
                                    li Pedro
                                        span 90%
                                    li Santino
                                        span 90%
                    li.mfour.class
                        .class_info
                            .class_util.u-cf
                                .class_code ( class code )
                                .class_dateCreated 12/23/16
                            h4.class_title Algebra 
                            .class_topStudents
                                h5 Top 5 Students
                                ol
                                    span.list_title Student Name
                                        span Gen.Ave.
                                    li Angelo 
                                        span 90%
                                    li Miguel
                                        span 90%
                                    li Juan
                                        span 90%
                                    li Pedro
                                        span 90%
                                    li Santino
                                        span 90%
                    li.mfour.class
                        .class_info
                            .class_util.u-cf
                                .class_code ( class code )
                                .class_dateCreated 12/23/16
                            h4.class_title Algebra 
                            .class_topStudents
                                h5 Top 5 Students
                                ol
                                    span.list_title Student Name
                                        span Gen.Ave.
                                    li Angelo 
                                        span 90%
                                    li Miguel
                                        span 90%
                                    li Juan
                                        span 90%
                                    li Pedro
                                        span 90%
                                    li Santino
                                        span 90%
                    li.mfour.class
                        .class_info
                            .class_util.u-cf
                                .class_code ( class code )
                                .class_dateCreated 12/23/16
                            h4.class_title Algebra 
                            .class_topStudents
                                h5 Top 5 Students
                                ol
                                    span.list_title Student Name
                                        span Gen.Ave.
                                    li Angelo 
                                        span 90%
                                    li Miguel
                                        span 90%
                                    li Juan
                                        span 90%
                                    li Pedro
                                        span 90%
                                    li Santino
                                        span 90%
                    li.mfour.class
                        .class_info
                            .class_util.u-cf
                                .class_code ( class code )
                                .class_dateCreated 12/23/16
                            h4.class_title Algebra 
                            .class_topStudents
                                h5 Top 5 Students
                                ol
                                    span.list_title Student Name
                                        span Gen.Ave.
                                    li Angelo 
                                        span 90%
                                    li Miguel
                                        span 90%
                                    li Juan
                                        span 90%
                                    li Pedro
                                        span 90%
                                    li Santino
                                        span 90%
                    li.mfour.class
                        .class_info
                            .class_util.u-cf
                                .class_code ( class code )
                                .class_dateCreated 12/23/16
                            h4.class_title Algebra 
                            .class_topStudents
                                h5 Top 5 Students
                                ol
                                    span.list_title Student Name
                                        span Gen.Ave.
                                    li Angelo 
                                        span 90%
                                    li Miguel
                                        span 90%
                                    li Juan
                                        span 90%
                                    li Pedro
                                        span 90%
                                    li Santino
                                        span 90%
        